#profile-wrapper {
  position: relative;
}
#profile-cover {
  width: 100%;
  position: relative;
  height: 30vh;
}
#profile-cover-img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
#profile-img {
  position: absolute;
  top: 58%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1vw;
  width: 100%;
}
#profile-main-img {
  border-radius: 50%;
  height: 10vw;
  aspect-ratio: 1/1;
  border: 5px solid black;
}
#edit-profile-button {
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  padding: 0.5vh 1vw;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 50px;
  margin-bottom: 2vh;
}
#follow-button {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.5vh 1vw;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 50px;
  margin-bottom: 2vh;
}
#profile-info {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 1vw;
  gap: 1vh;
}
#profile-user-name {
  font-size: 2vw;
  font-weight: 600;
}
#profile-user-username {
  color: grey;
}
#profile-info > div {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#profile-user-birth,
#profile-user-join {
  color: grey;
}
#profile-user-following:hover,
#profile-user-follower:hover {
  text-decoration: underline;
}
